[submodule "third_party/CHT"]
	path = third_party/CHT
	url = https://github.com/stoianmihail/CHT
[submodule "third_party/ALEX"]
	path = third_party/ALEX
	url = https://github.com/microsoft/ALEX
[submodule "third_party/RadixSpline"]
	path = third_party/RadixSpline
	url = https://github.com/learnedsystems/RadixSpline.git
[submodule "third_party/PGM-index"]
	path = third_party/PGM-index
	url = https://github.com/gvinciguerra/PGM-index.git
[submodule "third_party/tlx"]
	path = third_party/tlx
	url = https://github.com/tlx/tlx
[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "third_party/RMI"]
	path = third_party/RMI
	url = https://github.com/learnedsystems/RMI
	ignore = dirty
